
<!DOCTYPE html>
<html>
<head>
  <title>Stamplay | LZ</title>
  <link rel="stylesheet" type="text/css" href="public/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="container-fluid">
<!--NAVBAR-->
  <nav>
    <div id="navbar" class="nav-wrapper z-depth-2">
      <a>
        <img id="wordLogo" src="public/images/logo_White.png"/>
      </a>
       <a id="lzHeader" class="brand-logo center hide-on-med-and-down">
        <i id="gradCap" class="fa fa-graduation-cap"> 
          <span id="lz">Learning Zone</span>
        </i>
      </a>
      <ul id="resourceMenu" class="right">
      <li><a
            id="navSelectUsers" 
            class='dropdown-button' 
            href='#' 
            data-activates='dropdown1'>
            <i class="fa fa-caret-down right"></i>SDK - Users
          </a>
          <ul id='dropdown1' class='dropdown-content'>
              <li class="dropdownitem">
                <a id="dropdownText1">Main Menu</a>
              </li>
              <li class="divider"></li>
              <li class="dropdownitem">
                <a id="dropdownText2" href="objects.html">
                  <i id='objAPI' class="fa fa-cubes right"></i>[SDK] - Objects
                </a>
              </li>
              <li class="divider"></li>
              <li class="dropdownitem">
                <a id="dropdownText2">
                  <i id="userSDK" class="fa fa-user right"></i>[API] - Users
                </a>
              </li>
              <li class="divider"></li>
              <li class="dropdownitem">
                <a id="dropdownText3">
                  <i id="objSDK" class="fa fa-cubes right"></i>[API] - Objects
                </a>
              </li>
        </ul>
    </div>
  </nav>
<!--TABS-->
  <div class="row">
    <div class="col s12 tab-row">
      <ul id="tabRow" class="tabs">
        <li class="tab col s3">
        <a class="active" href="#local">EMAIL & PASSWORD</a></li>
        <li class="tab col s3">
        <a href="#facebook">FACEBOOK</a></li>
      </ul>
    </div>
  </div>
  <!--////////////////////////// EMAIL & PASSWORD TAB ///////////////////////////-->
  <div id="local" class="row moduleBackgroundUserEP">
 <!--EMAIL & PASSWORD USER OUTPUT SECTION-->
    <div id="userEPLeft" class="col s4">
      <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
      <div id="local">
         <ul id="userOutput" class="collection z-depth-1 itemBorder">
            <li id="viewHeaderEP" class="collection-item center outputHeader">
              <b>User Data</b>
            </li>
            <li class="collection-item data"><b>Display Name:</b>
            <span id="userOutputName"></span></li>
            <li class="collection-item data"><b>Email: </b>
            <span id="userOutputEmail"></span></li>
            <li class="collection-item data"><b>Dt_Created: </b>
            <span id="userOutputDate"></span></li>
            <li class="collection-item data"><b>ID: </b>
            <span id="userOutputID"></span></li>
        </ul>
<!--EMAIL & PASSWORD USER SIGN UP SECTION-->
       <div id="local" class="row z-depth-1 inputBoxLocal itemBorder">
          <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <br>
                  <input  
                   placeholder="Display Name"
                   id="name"
                   type="text">
                </div>
            </div>
              <div class="row">
                <div class="input-field col s12">
                  <input 
                   placeholder="Email"
                   id="email"
                   type="text">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input 
                  id="password"
                  placeholder="Password" 
                  type="text">
                </div>
              </div>
              <div class="row">
              <div id="signupBtn" class="input-field col s12 center">
                  <a 
                  onclick="signUp()" 
                  id="btn" 
                  class="waves-effect waves-light btn-large">
                  <i class="fa fa-rocket right"></i>
                  Sign Up
                  </a>
              </div>
            </div>
            <div id="logoutBtn" class="row hidden">
              <div id="logoutBtnHidden" class="input-field col s12 center">
                <a 
                  onclick="logout()"
                  id="btn" 
                  class="waves-effect waves-light btn-large">
                <i class="fa fa-power-off right"></i>Logout
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="userEPRight" class= "col s8">
    <div class="chip">
      <i class="fa fa-code"></i> Code Details
    </div>
    <div class="z-depth-1 codeContent">
      <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span> 
      <pre> <b>SDK Function - Create User with Email/Password</b><input id="copyInputEP" class="left" type="text" ng-model="textToCopyEP" value=" signup()">
      </pre>
    </div>
    <div id="sourceCodeEP" class="z-depth-1"> 
<!--........................................................-->
<pre>
Stamplay.init('sdktool');

 function signUp() {
  var name = document.getElementById("name").value;
  var email = document.getElementById("email").value;
  var password = document.getElementById("password").value;

  var registrationData = {
    displayName: name,
    email : email,
    password: password
  };
  var newUser = new Stamplay.User().Model;
  <b>newUser.signup(registrationData)</b>.then(function(){
  });

  //LOGOUT
  function logout(){
    var user = new Stamplay.User().Model;
    <b>user.logout()</b>;
  }
</pre>
<!--........................................................-->
    </div>
    <div id="console" class="z-depth-1">
<!--........................................................-->
<pre> <b>Console</b>
  <span id="consoleCursor" class="blinking-cursor">_</span>
<br><span id="consoleStatus" class="hidden"> Status: 200 OK</span>
<br><span id="hideBody" class="hidden"> Body:</span><span id="consoleBody" class="hidden"></span>
<br><span id="hideRes" class="hidden"> Response:</span><span id="consoleRes" class="hidden"></span>
</pre>
<!--........................................................-->
    </div>
  </div>
</div>


<!--////////////////////////// FACEBOOK TAB ///////////////////////////-->
  <div id="facebook" class="row moduleBackgroundUserFB">
    <div id="userFBLeft" class="col s4">
      <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
<!--FACEBOOK USER OUTPUT SECTION-->
      <div id="facebook" class="col s12 fbOutput">
         <ul id="userOutputFB" class="collection z-depth-1 itemBorder">
            <li id="viewHeaderFB" class="collection-item center outputHeader">
              <b>User Data</b>
            </li>
            <li class="collection-item data center">
            <img src="public/images/fb avatar.gif" id="fbPhoto"/></li>
            <li class="collection-item data"><b>Display Name:</b>
            <span class="fbprop" id="fbName"></span></li>
            <li class="collection-item data"><b>Email: </b>
            <span class="fbprop" id="fbEmail"></span></li>
            <li class="collection-item data"><b>Gender: </b>
            <span class="fbprop" id="fbGender"></span></li>
            <li class="collection-item data"><b>Dt_Created: </b>
            <span class="fbprop" id="fbDate"></span></li>
            <li class="collection-item data"><b>ID: </b>
            <span class="fbprop" id="fbID"></span></li>
        </ul>
<!--FACEBOOK USER SIGN UP SECTION-->
        <div 
        class="z-depth-1 center inputBoxFB itemBorder">
             <a 
              onclick="facebook()" 
              id="btn" 
              class="waves-effect waves-light btn-large">
              <i class="fa fa-facebook-square right"></i>
              Sign Up
              </a>
        </div>
      </div>
    </div>
    <div id="userFBRight" class= "col s8">
    <div class="chip">
      <i class="fa fa-code"></i> Code Details
    </div>
    <div class="z-depth-1 codeContent">
      <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span> 
      <pre> SDK Function - Login with Facebook<input id="copyInputEP" class="left" type="text" ng-model="textToCopyEP" value=" login('facebook')">
      </pre>
    </div>
    <div id="sourceCodeFB" class="z-depth-1"> 
<!--........................................................-->
<pre>
Stamplay.init('sdktool');

 function facebook(){
  var newUser = new Stamplay.User().Model;
  <b>newUser.login('facebook')</b>;
}
</pre>
<!--........................................................-->
    </div>
    <div id="console" class="z-depth-1">
<!--........................................................-->
<pre> <b>Console</b>
  <span id="consoleCursorFB" class="blinking-cursor">_</span>
<br><span id="consoleStatusFB" class="hidden"> Status: 200 OK</span>
<br><span id="hideBodyFB" class="hidden"> Body:</span><span id="consoleBodyFB" class="hidden"></span>
<br><span id="hideResFB" class="hidden"> Response:</span><span id="consoleResFB" class="hidden"></span>
</pre>
<!--........................................................-->
    </div>
  </div>
</div>
<!--FOOTER-->
  <br>
  <br>
  <footer id="footer" id="local" class="page-footer z-depth-1 footer">
    <div class="container"></div>
  </footer>
<!--SCRIPTS-->
<script src="//drrjhlchpvi7e.cloudfront.net/libs/stamplay-js-sdk/1.3.1/stamplay.min.js"></script>
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./public/js/materialize.min.js"></script>
<script src="public/app.js"></script>
</body>
</html>





