/*------------------------------------------------------------------------*/
/*SIGN UP CSS*/
/*------------------------------------------------------------------------*/
body, html {
	font-family: "Roboto";
	min-height: 100vh;
	min-width: 100vw;
	position: cover;
	background-color: #EEEEEE;
}
#navbar{
	background-color: #262D4D;
	height: 80px;
}
#logo{
  	padding: 10px;
    height: 70px;
	margin-top: 5px;
}
#wordLogo{
	padding: 10px;
    height: 45px;
	margin-top: 15px;
}
#lzHeader{
	margin-top: 8px;
	font-family: "Roboto";
	font-weight: lighter;
}
#gradCap{
	color: #FBC02D;
}
#lz{
	color: #FFFFFF;
	font-weight: lighter;
	font-family: "Roboto";	
}
#resourceMenu{
	margin-top: 10px;
	font-weight: lighter;
	font-family: "Roboto";
}
#catelogNav{
	padding-right: 50px;
	cursor: pointer;
}
#catelogNav:hover{
	padding-right: 50px;
	cursor: pointer;
	color: #FBC02D;
	background-color: #262D4D !important;
}
#navSelectUsers:hover{
	background-color: #262D4D !important;
	color: #FBC02D;
}
#objAPI{
	font-size: 20px;
}
#objSDK{
	font-size: 20px;
}
#userSDK{
	font-size: 20px;
}
.dropdownitem{
	background-color: #FBC02D;
}
#dropdownText1{
	color: #000000;
}
#dropdownText1:hover{
	color: #000000;
}
#dropdownText2{
	color: #000000;
}
#dropdownText3{
	color: #000000;
}
#objectNav{
	margin-right: 30px;
}
.divider{
	background-color: #000000;
}
#tabRow{
	margin-top: 0px;
}
.tabs{
	margin-top: 7px;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #272D4E;
}
.tabs .tab a:hover{
	color: #272D4E;
    background-color: #FFFFE5;
    font-weight: bold;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #FBC02D !important;
}
.rsrcbtn{
	background-color: #FBC02D;
	color: #000;
	margin-top: 10px;
	margin-right: 10px;
}
.rsrcbtn:hover{
	background-color: #FBC02D;
	color: #000;
}
.moduleBackgroundUserEP{
	min-height: 100vh;
	background-color: #E4E4E4;
	background-size: cover;
	background-position: center center;
	border-radius: 6px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px; 
}
.moduleBackgroundUserFB{
	min-height: 100vh;
	background-color: #E4E4E4;
	background-size: cover;
	background-position: center center;
	border-radius: 6px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px; 
}
.chip{
	background-color: #d9d9d9;
}
.itemBorder{
	border-radius: 4px;
	border:4px solid;
	border-color: #EEEEEE;
	border-style:double;
}
.inputBoxLocal{
	background-color: #FFFFFF;
}
#btn{
	background-color: #7A7F99;
	font-family: "Roboto"; 
	width: 100%;
}
.inputBoxFB{
	cursor: pointer;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 5px;
}
#facebook{
	padding: 0px;
}
#viewHeaderEP{
	background-color:rgba(255, 255, 255, .75);
}
#viewHeaderFB{
	background-color:rgba(255, 255, 255, .75);
}
.outputHeader{
	color: #1E243E;
}
#userOutput{
	margin-top: 15px;
	margin-bottom: 5px;
}
#userOutputFB{
	margin-top: 15px;
	margin-bottom: 0px;
}
#userEPLeft{
	width: 30%;
	margin-left: 25px;
	padding-right: 5px
}
#userEPRight{
	width: 66%;
	padding-left: 0px;
}
#userFBLeft{
	width: 30%;
	margin-left: 25px;
	padding-right: 5px
}
#userFBRight{
	width: 66%;
	padding-left: 0px;
}
#createLeft{
	width: 30%;
	margin-left: 25px;
	padding-right: 5px;
}
#createRight{
	width: 66%;
	padding-left: 0px;
}
#updateLeft{
	width: 30%;
	margin-left: 25px;
	padding-right: 5px;

}
#updateRight{
	width: 66%;
	padding-left: 0px;
}
#queryLeft{
	width: 30%;
	margin-left: 25px;
	padding-right: 5px;
}
#queryRight{
	width: 66%;
	padding-left: 0px;
}
#rateLeft{
	width: 30%;
	margin-left: 25px;
	padding-right: 5px;
}
#rateRight{
	width: 66%;
	padding-left: 0px;
}
.data{
	color: #B0B2B5;
}
.fbprop{
	color: #415095;
}
#userOutputName{
	color: #415095;
}
#userOutputDate{
	color: #415095;
}
#userOutputEmail{
	color: #415095;
}
#userOutputID{
	color: #415095;
}
  /* label color */
.input-field label {
     color: #FBC02D;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #FBC02D;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FBC02D;
     box-shadow: 0 1px 0 0 #FBC02D;
}
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #FBC02D;
     box-shadow: 0 1px 0 0 #FBC02D;
}
.tabs{
	margin-top: 17px;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #272D4E;
	border-right: 1px solid #EEEEEE;
}
.tabs .tab a:hover{
	color: #272D4E;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #FBC02D !important;
}
#fbPhoto{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border:1px solid;
	border-color: #EEEEEE;
}
#switchViews{
	cursor: pointer;
}
.hidden{
	display: none;
}
#logoutBtnHidden{
	padding-bottom: 30px;
}
.codeContent{
	margin-top: 15px;
	overflow: auto;
	height: 100px;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
}
#sourceCodeEP{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	height: 44vh;
}
#sourceCodeFB{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	height: 27vh;
}
#console{
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 5px;
	height: 205px;
	overflow: auto;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
}
.github{
	color: #3D3F4D;
	cursor: pointer;
}
.github:hover{
	color: #FBC02D;
	cursor: pointer;
}
.youtube{
	color: #3D3F4D;
	cursor: pointer;
}
.youtube:hover{
	color: #FBC02D;
	cursor: pointer;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 15px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/*----------------------------------------------------------------------------*/
/*OBJECTS CSS*/
/*---------------------------------------------------------------------------*/
.moduleBackgroundObj{
	min-height: 100vh;
	background-color: #E4E4E4;
	background-size: cover;
	background-position: center center;
	border-radius: 6px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px; 
}
.chip{
	background-color: #d9d9d9;
}
.createSection{
	background-color: #FFFFFF;
}
#btn{
	background-color: #7A7F99;
	width: 100%;
}
.itemBorder{
	border-radius: 4px;
	border:4px solid;
	border-color: #EEEEEE;
	border-style:double;
}
#viewHeaderCreate{
	background-color:rgba(255, 255, 255, .75);
}
#viewHeaderUpdate{
	background-color:rgba(255, 255, 255, .75);
}
#viewHeaderQuery{
	background-color:rgba(255, 255, 255, .75);
}
#viewHeaderRate{
	background-color:rgba(255, 255, 255, .75);
}
#options{
	border-radius: 4px;
	border:4px solid;
	border-color: #EEEEEE;
	border-style:double;
}
.objectOutput{
	margin-top: 15px;
	margin-bottom: 5px;
}
#input{
	padding-left: 25px;
	padding-right: 25px;
}
.picker__date-display {
	background-color: #414b82;
}
.picker__weekday-display{
	background-color: #414b82;
}
.picker__day.picker__day--today {
	background-color: #414b82;
	color: #FFFFFF;
}
.picker__close, .picker__today {
	color: #000000;
}

.header{
	color: #0A0A0A;
}
.data{
	color: #B0B2B5;
}
.category{
	color: #B0B2B5;
}
.outputData{
	color: #414B82
}
.input-field label {
     color: #000;
}
.input-field input[type=text]:focus + label {
     color: #000;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FFD700;
     box-shadow: 0 1px 0 0 #FFD700;
}
#sourceCodeCreate{
	overflow: auto;
	background-color: #FFFFE5;
	margin-bottom: 5px;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	height: 79vh;
}
#sourceCodeUpdate{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	height: 25vh;
}
#sourceCodeQuery{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	height: 58vh;
	margin-bottom: 5px;
}
#sourceCodeRate{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	height: 87vh;
	margin-bottom: 5px;
}
.outputData{
	color: #414B82
}
#bookImage{
	height: 100px;
	width: 100px;
}
#updateImage{
	height: 100px;
	width: 100px;
}
#restaurantImage{
	height: 150px;
	width: 250px;
}
#rateRestaurant{
	height: 150px;
	width: 250px;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 1.2rem;
    color: #414b82;
    display: block;
    padding: 1rem 1rem;
}
.queryheader{
	color: #414B82;
}

#queryResults{
	margin-top: 15px;
	margin-bottom: 5px;
}
.ptag{
	padding-top: 10px;
} 
#dropdown{
	width: 40%;
	background-color: #FFFFFF;
}
#voteSection{
	background-color: #FFFFFF;
	padding-bottom: 15px;
	padding-top: 5px;
	margin-bottom: 5px;
}
#ratingSection{
	background-color: #FFFFFF;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.thumbs{
	background-color: #7A7F99;
	width: 80%;
}
.thumbs:hover{
	background-color: #7A7F99;
	width: 80%;
}
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #FBC02D; 
    border-bottom: 2px solid #FBC02D;
}
#footer{
	background-color: #E4E4E4;
	display: flex;
    min-height: 7vh;
    flex-direction: column;
}
/*----------------------------------------------------------------------------*/
/*CATELOG CSS*/
/*---------------------------------------------------------------------------*/

#backArrow{
	padding-right: 20px;
}
#backArrow:hover{
	padding-right: 20px;
	cursor: pointer;
	color: #FBC02D;
	background-color: #262D4D !important;
}
.categoryRow{
	margin-bottom: 0px;
}
.categorySelector{
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	background-color: #fff;
}
#questionHeader{
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 0px;
}
.categoryIcons{
	color: #3D3F4D;
}
.categoryBtn{
	padding-top: 30px;
	cursor: pointer;
}
.modal{
	width: 45%;
	border-radius: 4px;
}